<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="F:\AHMAD\12500$ a month\C#\Tournament Tracker" />
	</appSettings>
	<connectionStrings>
		<add 
			 name="Tournaments" 
			 connectionString="Server=localhost;Database=Tournaments;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>